body{
    overflow-x: hidden; /* Hide vertical scrollbar */
    background-color:#4c4444;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .navColor{
    background-color: #4c4444;
  }

  .navBrand{
    border-bottom: 0px solid rgb(255, 204, 110);
  }

  .navBrand:hover {
    font-size: 20px;
    border-bottom: 5px solid rgb(255, 204, 110);
    transition-duration: 0.6s;
  }

  .navItem{
    border-bottom: 0px solid rgb(255, 204, 110);
  }

  .navItem:hover {
    font-size: 16px;
    border-bottom: 3px solid rgb(255, 204, 110);
    transition-duration: 0.6s;
  }

  .buttonColor{
    color:rgb(255, 204, 110);;
    border: 2px solid rgb(255, 204, 110);
    border-radius: 5px;
  }

  .buttonColor:hover{
    background-color: rgb(255, 204, 110);
    color:black;
    border: 2px solid rgb(255, 204, 110);
    transition-duration: 0.3s;
  }

  .navLeftSpace{
    margin-left: 10%;  
  }

  .navRightSpace{
    margin-right: 10%;  
  }

  .btn-space {
    margin-right: 5px;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #4c4444;
    color: whitesmoke;
    text-align: center;
  }
  
  .contentContainer{
    text-align:center;
  }

  .Jumbo1{
    color:#4c4444;
    background-color:rgb(255, 204, 110);
  }

  .Jumbo2{
    background-color: #e6e1d9;
    color:#4c4444;
  }

  .Jumbo3{
    background-color:	#f5deb3;
    color:#4c4444;
  }

  .Jumbo4{
    color:#f5deb3;
    background-color:#4c4444;
  }

  .Jumbo5{
    background-color:	#f5deb3;
    color:#4c4444;
  }

  .Jumbo6{
    background-color:	#e2d4be;
    color:#4c4444;
  }

  .myBorder{
    border:solid;
    border-color:#4c4444;
    border-width: 1px;
    border-radius: 2px;
  }

  .myOtherBorder{
    border:solid;
    border-color:#f5deb3;
    border-width: 1px;
    border-radius: 2px;
  }

.myRow{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.myCol{
  text-align:left;
  background-color: transparent;
}

.aboutSubHeaderText{
  font-size:30px;
}

.aboutSubText{
  font-size:18px;
}

.contactSubText{
  font-size:22px;
}

@media only screen and (min-device-width: 400px) {
  .myContactImage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 450px;
    width: auto;
    border-radius: 3px;
  }
}

.myLink{
  color:#f5deb3;
}

.myLink:hover{
  color:rgb(255, 204, 110);
}

img{
  object-fit: scale-down; max-width: 100%
}